<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
        <strong>{{post.title}}</strong>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId == post.creator">
      <a color="primary" mat-button [routerLink]="['/edit', post.id]">EDIT</a>
      <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Posts added yet!!</p> -->


<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="posts.length > 0 && !isLoading">
<mat-card *ngFor="let post of posts">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>{{post.title}}</strong></mat-card-title>
  </mat-card-header >
  <div class="post-image">
    <img [src]="post.imagePath" [alt]="post.title">
  </div>
  <mat-card-content>
    <p>{{post.content}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="userIsAuthenticated && userId == post.creator">
    <a color="primary" mat-button [routerLink]="['/edit', post.id]">EDIT</a>
    <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
  </mat-card-actions>
</mat-card>
</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Posts added yet!!</p>
